/* -------------------------------------------------------------------------- */
/*  BUTTONS                                                                   */
/* -------------------------------------------------------------------------- */

button, .button, .btn, .btn-primary {
  background: $button-color;
  border: 3px solid $button-color;
  color: $white;
  padding: 10px 20px;
  text-transform: uppercase !important;
  font-size: inherit;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  border-radius: 0;

  &:hover {
    background: $button-hover;
    border-color: $button-hover;
    color: $white;
  }
}

button.alt, .button-alt {
  @extend .button;
  background: $white;
  color: $button-color;

  &:hover {
    background: $white;
    color: $button-hover;
    border-color: $button-hover;
  }
}

.button-group {
  margin-top: 15px;
  button {
    margin-right: 10px;
  }
}
