.cards {
  list-style: none;

  li {
    border: 1px solid #ccc;
    &:hover {
      border-color: $medium-blue;
    }
  }
  a {
    text-decoration: none;
    color: $black;
  }
  .para-title {
    margin: 30px 0 10px;
    color: $medium-blue;
    font-weight: bold;
  }
}
