.cta-customize {
  background: $deep-blue;
  height: 100px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  // bottom: calc(500px + 1.5%);
  bottom: 0;
  top: calc(100% - 500px);
  overflow: auto;
  color: $white;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;

  .content {
    @extend .content-wrap;
    padding-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  a.button {
    @include font-size(1.8);
    border-radius: 4px;
    border: 1px solid;
    color: $white;
    text-decoration: none;
    padding: 5px 30px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 1;

    &:hover {
      background: $white;
      color: $deep-blue;
    }
    &:active {
      color: $white;
      background: $black;
    }
    &.disabled {
      opacity: .5;
      background: transparent;
      color: $white;
      cursor: not-allowed;
    }
  }
}
