/* -------------------------------------------------------------------------- */
/*  DROPDOWNS                                                                 */
/* -------------------------------------------------------------------------- */

#accountMenu {
  width: 100%;
}
#accountMenu, #messagesList {
  background: $deep-blue;
  min-width: 140px;
  border-radius: 0;
  border: none;
  text-align: right;
  padding: 5px 10px 10px;
  font-size: 12px;
  line-height: 20px;

  a {
    color: $white;
  }
}
#messagesList.show {
  transform: translate(-80%, 25px) !important;
}

.dropdown-menu {
  @include font-size(1.2);
  background: $deep-blue;
  border-top: 1px solid $dark-blue;
  border-radius: 0;
  padding: 15px;
  min-width: 210px;

  @media (max-width: $tablet) {
    margin-top: 20px !important;

    &:before {
      content: '';
      @include triangle(up, 10px, $color:$deep-blue);
      position: absolute;
      top: -10px;
      right: 9%;
    }
  }
}

main {
  .dropdown-menu {
    background: $white;
  }
  .dropdown-item:hover {
    background: $white;
  }
}
