/* -------------------------------------------------------------------------- */
/*  DROPDOWNS                                                                 */
/* -------------------------------------------------------------------------- */

#accountMenu, #messagesList {
  background: $deep-blue;
  width: 100%;
  border-radius: 0;
  border: none;
  text-align: right;
  padding: 5px 10px 10px;
  font-size: 12px;
  line-height: 20px;

  a {
    color: $white;
  }
}

.dropdown-menu {
  background: $deep-blue;
  margin-top: 10px;
  border-radius: 0;
  padding: 15px;

  &:before {
    content: '';
    @include triangle(up, 10px, $color:$deep-blue);
    position: absolute;
    top: -10px;
    right: 20%;
  }
}
