/* -------------------------------------------------------------------------- */
/*  FORMS + INPUTS                                                            */
/* -------------------------------------------------------------------------- */

input, select {
  @include font-size(1.4);
  padding: 10px 15px;
  border: 1px solid $light-gray;
  width: 80%;
  font-family: $body-text;

  @media (max-width: $mobile) {
    width: 100%;
  }
}
input[type="checkbox"] {
  display: inline-block;
  width: auto;
  vertical-align: text-bottom;
}
label {
  font-family: $heading-text;
  font-weight: bold;
  color: $medium-gray;
  text-transform: capitalize;
  vertical-align: text-bottom;
}
label + input {
  display: block;
}
main form {
  border: 1px solid $light-gray;

  @media (max-width: $mobile) {
    // padding: 20px;
  }

  &#login {
    padding: 30px;
  } 
  > div {
    margin-bottom: 15px;

    > span {
        vertical-align: text-bottom;
    }
  }
  > small {
    margin: -10px 0 20px;
    display: block;
  }

  header {
    background: $deep-blue;
    color: $white;
    position: relative;
    padding: 20px;

    .alt-title {
      margin: 10px 0 -10px;
      color: #fff;
    }

    .form-actions {
      position: absolute;
      top: 20px;
      right: 20px;

      .video-tutorial {
        margin-right: 10px;
        text-decoration: none;
      }
    }
  }

  section {
    padding: 20px;

    &.non-editable-fields {
      background: #eee;
      border-bottom: 1px solid #ccc;
      color: #676767;

      .personal-info {
        list-style: none;
        padding: 5px 0;
      }
      .key {
        font-weight: bold;
        padding-right: 10px;
      }
    }
  }
}
.form-check-label {
  font-family: $body-text;
  color: $body-color;
  font-weight: normal;
}
.form-group {
  border: none;
  font-size: unset;
  padding: 0;
  margin: 10px 0;
}
.form-group + button,
.form-check + button {
  margin: 1em 0;
}
.form-control {
  border: 1px solid $light-gray;
  padding: 10px;
  border-radius: 0;
  font-size: inherit;
  height: auto;
}
.form-check-input {
  width: 1em !important;
  height: 1em;
}
