/* -------------------------------------------------------------------------- */
/*  INPUTS                                                                    */
/* -------------------------------------------------------------------------- */

input, select {
  padding: 10px 15px;
  border: 1px solid $light-gray;
  width: 80%;
  font-family: $body-text;
}
input[type="checkbox"] {
  display: inline-block;
  width: auto;
}
label {
  font-family: $heading-text;
}
label + input {
  display: block;
}
form {

}
.form-control {
  border: none;
  font-size: unset;
  padding: 0;
  margin-top: 15px;
}
