/* -------------------------------------------------------------------------- */
/*  LISTS                                                                     */
/* -------------------------------------------------------------------------- */

nav {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		margin: 0;
		padding: 0;
	}
}
.link-list {
	list-style: none;
	margin: 0;
	border: 1px solid $light-gray;
	padding: 20px;
	 li {
		 margin-bottom: 10px;
	 }
}
