/* -------------------------------------------------------------------------- */
/*  SCAFFOLDING                                                               */
/* -------------------------------------------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // Make all fonts antialiased
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-size: 14px !important;
  font-weight: 300;
  font-family: $body-text;
  color: $body-color;
  line-height: 24px;
  overflow-x: hidden;
  margin: 0;

  @media screen and (max-width: $mobile) {
    @include font-size(1.4);
  }
}
main {
  @include clearfix;
  @extend .content-wrap;
  margin: 60px auto;
  background: $white;
  position: relative;
  // enables sticky to work
  // margin-top: $header-height;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: space-between;

  img {
    max-width: 100%;
    height: auto;
  }
}
article {
  width: 59.5%;
  height: 200vh;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  padding-right: 6%;

  @media screen and (max-width: $mobile) {
    width: 100%;
    padding: 0;
  }
}
aside {
  width: 40%;
  height: 90vh;
  min-height: 200px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: calc(115px + 1.5%); //header height + padding

  @media screen and (max-width: $mobile) {
    width: 100%;
    display: none;
  }
}
.content-wrap, .container {
  position: relative;
  max-width: $desktop;
  margin: 0 auto;

  @media screen and (max-width: $desktop) {
    margin: 0 15px;
  }
}
.container {
  border: 1px solid $light-gray;
  padding: 30px;
  margin: 60px auto;
  width: 500px;
}
.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 100%;
  align-items: baseline;
  border-bottom: 3px solid $charcoal;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-bottom: 10px;

  @media (max-width: $mobile) {
    flex-direction: column;
    padding-bottom: 15px;
  }
}
