/* -------------------------------------------------------------------------- */
/*  TYPOGRAPHY                                                                */
/* -------------------------------------------------------------------------- */

.light {
  font-weight: 300 !important;
  font-style: unset !important;
}
.normal {
  font-weight: 400 !important;
  font-style: unset !important;
}
.semibold {
  font-weight: 600 !important;
  font-style: unset !important;
}
.bold {
  font-weight: 700 !important;
  font-style: unset !important;
}
.title { //H1
  @include font-size(3.2);
  font-family: $heading-text;
  color: $dark-blue;
  text-transform: uppercase;
}
.alt-title { //H2
  @include font-size(2.8);
  font-family: $heading-text;
  color: $deep-blue;
}
.subtitle { //H3
  @include font-size(2.2);
  font-family: $heading-text;
  color: $deep-blue;
}
.section-title { //H4
  @include font-size(1.8);
  font-family: $heading-text;
  font-weight: 600;
  margin-bottom: 20px;
  color: $dark-blue;
  text-transform: uppercase;
}
.subsection-title { //H5
  @include font-size(1.8);
  font-family: $heading-text;
  font-weight: 600;
  margin-bottom: 20px;
  color: $medium-gray;
}
.para-title { //H6
  @include font-size(1.5);
  font-family: $heading-text;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $black;
}
.small {
  @include font-size(1.2);
  font-family: $body-text;
  font-weight: 300;
}
.disclaimer {
  @include font-size(1.15);
  font-weight: 400;
  line-height: 18px;
  font-style: italic;
  color: $disclaimer;
}
.uppercase {
  text-transform: uppercase;
}
p + p {
  margin-bottom: 15px;
}
